<div class="row">
    <div class="col-sm-4 my-2">
        <input type="text" id="name" class="form-control" placeholder="Buscar..." (keyup)="tableFilter($event)">
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="table-responsive" id="table1">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col" [appSort]="rows" (sortState)="sortEvent($event)" data-order="desc"
                            data-name="id">#</th>
                        <th scope="col" [appSort]="rows" (sortState)="sortEvent($event)" data-order="desc"
                            data-name="name" data-type="date">Nombres</th>
                        <th scope="col" [appSort]="rows" (sortState)="sortEvent($event)" data-order="desc"
                            data-name="last_name">Apellidos</th>
                        <th scope="col" [appSort]="rows" (sortState)="sortEvent($event)" data-order="desc"
                            data-name="email">Email</th>
                        <th scope="col" [appSort]="rows" (sortState)="sortEvent($event)" data-order="desc"
                            data-name="job">Puesto de trabajo</th>
                        <th scope="col" [appSort]="rows" (sortState)="sortEvent($event)" data-order="desc"
                            data-name="birthday">Fecha de nacimiento</th>
                        <th scope="col" [appSort]="rows" (sortState)="sortEvent($event)" data-order="desc"
                            data-name="estatus">Estatus</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of rows">
                        <td>{{ row.id }}</td>
                        <td>{{ row.name }}</td>
                        <td>{{ row.last_name }}</td>
                        <td>{{ row.email }}</td>
                        <td>{{ row.job }}</td>
                        <td>{{ row.birthday }}</td>
                        <td>
                            <span class="badge pointer" appUserStatus [status]="row.estatus">
                                {{ row.estatus }}
                            </span>
                        </td>
                        <td>
                            <i class="bi bi-pencil-square mr-1" (click)="show(row.id)"></i>
                            <i class="bi bi-trash3" (click)="destroyMessage(row.id)"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
            <ngb-pagination class="d-flex justify-content-start" [collectionSize]="page.totalElements"
                [(page)]="currentPage" [maxSize]="10" aria-label="Custom pagination"
                (pageChange)="setPage(currentPage)">
                <ng-template ngbPaginationPrevious>Anterior</ng-template>
                <ng-template ngbPaginationNext>Siguiente</ng-template>
            </ngb-pagination>
        </div>
    </div>
</div>